.mainCard{
    background-color: black;
    color:whitesmoke;
    font-size: 0.8em;
    padding: 10px;
    border: 2px solid yellow;
    border-radius: 10px;
    text-align:center;
    text-justify: distribute;
    width: 80%;
    margin-bottom: 20px;
}

ul{
    padding: 0;
}

hr{
    width: 30%;
}

.listBegin{
    text-decoration: underline;
}